$primary: #D4A373;
$background: #1C1C1E;
$backgroundalt:#333;
$backgroundalt2:#888;
$backgroundalt3:#444;
$text: #FFF;
body {
    font-family: Arial, sans-serif;
    background-color: $background;
    color: $text;
    margin: 0;
    padding: 0;
}

tt{
    color: $primary;
    background-color: $backgroundalt3;
    padding: 2px 6px;
}

#page {
    width: 1100px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid $backgroundalt2;
    background-color: $backgroundalt;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#header {
    display: flex;
    align-items: center;
    background-color: $backgroundalt;
    padding: 10px;
    border-bottom: 2px solid $primary;

    .logo {
        margin-right: 10px;
        margin-right: auto;
    }

    .title{
        text-align: right;
        h1{
            color: $primary;
            line-height: 1em;
            font-size: 1.8em;
        }

        p{
            line-height: 1em;
        }
    }
}

#content {
    h2 {
        background-color: $primary;
        color: $backgroundalt;
        padding: 10px;
        text-align: center;
    }

    h3 {
        background-color: $backgroundalt3;
        padding: 5px;
        border-bottom: 1px solid $primary;
        margin-top: 20px;
    }

    p {
        line-height: 1.6;
        margin: 10px 0;
    }

    pre {
        background-color: $backgroundalt3;
        padding: 10px;
        border: 1px solid $backgroundalt2;
        overflow-x: auto;
    }

    ul {
        padding-left: 20px;

        li {
            margin: 5px 0;
        }
    }

    a {
        color: $primary;
    }
}
